name: Build with Clean

on:
  workflow_dispatch:
    branches-ignore:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: AutoModality/action-clean@v1
      - uses: actions/checkout@v2
      - run: echo Hello World
